In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"Value_1":[None, 14, 35, None, 1,12, 74, 65, None, 1],
                   "Value_2":[None, 24, 54, 3, None,None, 2, 54, 3, None],
                   "Value_3":[20, 16, None, 3, 8,None, 2, 54, 3, None],
                   "Value_4":[None, 2, 54, 3, None,14, 3, None, None, 6],
                   "Value_5":[41, 2, 54, 3, None,14, 3, None, None, 6],
                   "Value_6":[None, 2, 54, 3, 57,14, 3, None, None, 6],
                   "Value_7":[None, 2, 54, 3, None,14, 3, 1, None, 6],
                   "Value_8":[None, 2, 54, 3, None,14, 3, None, 90, 6],
                   "Value_9":[None, 2, 54, 3, None,14, 3, 121, None, 6]})
print(df)
df.head()

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0      NaN      NaN     20.0      NaN     41.0      NaN      NaN      NaN
1     14.0     24.0     16.0      2.0      2.0      2.0      2.0      2.0
2     35.0     54.0      NaN     54.0     54.0     54.0     54.0     54.0
3      NaN      3.0      3.0      3.0      3.0      3.0      3.0      3.0
4      1.0      NaN      8.0      NaN      NaN     57.0      NaN      NaN
5     12.0      NaN      NaN     14.0     14.0     14.0     14.0     14.0
6     74.0      2.0      2.0      3.0      3.0      3.0      3.0      3.0
7     65.0     54.0     54.0      NaN      NaN      NaN      1.0      NaN
8      NaN      3.0      3.0      NaN      NaN      NaN      NaN     90.0
9      1.0      NaN      NaN      6.0      6.0      6.0      6.0      6.0

   Value_9
0      NaN
1      2.0
2     54.0
3      3.0
4      NaN
5     14.0
6      3.0
7    121.0
8      NaN
9      6.0

,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,Value_8,Value_9
0,NaN,NaN,20.0,NaN,41.0,NaN,NaN,NaN,NaN
1,14.0,24.0,16.0,2.0,2.0,2.0,2.0,2.0,2.0
2,35.0,54.0,NaN,54.0,54.0,54.0,54.0,54.0,54.0
3,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,1.0,NaN,8.0,NaN,NaN,57.0,NaN,NaN,NaN

In [2]:
"""
df=df.astype ({
    "Value_1": pd.Int64Dtype(),
    "Value_2": pd.Int64Dtype(),
    "Value_3": pd.Int64Dtype(),
    "Value_4": pd.Int64Dtype(),
    "Value_5": pd.Int64Dtype(),
    "Value_6": pd.Int64Dtype(),
    "Value_7": pd.Int64Dtype(),
    "Value_8": pd.Int64Dtype(),
    "Value_9": pd.Int64Dtype()
})
"""
df = df.convert_dtypes()
print(df)

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0     <NA>     <NA>       20     <NA>       41     <NA>     <NA>     <NA>
1       14       24       16        2        2        2        2        2
2       35       54     <NA>       54       54       54       54       54
3     <NA>        3        3        3        3        3        3        3
4        1     <NA>        8     <NA>     <NA>       57     <NA>     <NA>
5       12     <NA>     <NA>       14       14       14       14       14
6       74        2        2        3        3        3        3        3
7       65       54       54     <NA>     <NA>     <NA>        1     <NA>
8     <NA>        3        3     <NA>     <NA>     <NA>     <NA>       90
9        1     <NA>     <NA>        6        6        6        6        6

   Value_9
0     <NA>
1        2
2       54
3        3
4     <NA>
5       14
6        3
7      121
8     <NA>
9        6

In [3]:
print(max(df['Value_1'].mode()))

1

In [4]:
def impute_mean(df):
    df = df.convert_dtypes()
    column_names = df.columns.tolist()
    for i in column_names:
        df[i].fillna(int(df[i].mean()),inplace=True)
    return df

In [5]:
def impute_median(df):
    df = df.convert_dtypes()
    column_names = df.columns.tolist()
    for i in column_names:
        df[i].fillna(int(df[i].median()),inplace=True)
    return df

In [6]:
def impute_mode(df):
    df = df.convert_dtypes()
    column_names = df.columns.tolist()
    for i in column_names:
        df[i].fillna(int(max(df[i].mode())),inplace=True)
    return df

In [7]:
def impute_const(df):
    df = df.convert_dtypes()
    column_names = df.columns.tolist()
    for i in column_names:
        df[i].fillna(int(0),inplace=True)
    return df

In [8]:
def SimpleImputer(df , b ):
    if (b == "mean"):
        df =impute_mean(df)
    elif (b=="median"):
         df =impute_median(df)
    elif (b=="mode"):
        df= impute_mode(df)
    else:
        df = impute_const(df)
    return df
df = SimpleImputer(df, "kuch bhi")
print (df)

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0        0        0       20        0       41        0        0        0
1       14       24       16        2        2        2        2        2
2       35       54        0       54       54       54       54       54
3        0        3        3        3        3        3        3        3
4        1        0        8        0        0       57        0        0
5       12        0        0       14       14       14       14       14
6       74        2        2        3        3        3        3        3
7       65       54       54        0        0        0        1        0
8        0        3        3        0        0        0        0       90
9        1        0        0        6        6        6        6        6

   Value_9
0        0
1        2
2       54
3        3
4        0
5       14
6        3
7      121
8        0
9        6

In [9]:
df = SimpleImputer(df, "median")
print (df)

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0        0        0       20        0       41        0        0        0
1       14       24       16        2        2        2        2        2
2       35       54        0       54       54       54       54       54
3        0        3        3        3        3        3        3        3
4        1        0        8        0        0       57        0        0
5       12        0        0       14       14       14       14       14
6       74        2        2        3        3        3        3        3
7       65       54       54        0        0        0        1        0
8        0        3        3        0        0        0        0       90
9        1        0        0        6        6        6        6        6

   Value_9
0        0
1        2
2       54
3        3
4        0
5       14
6        3
7      121
8        0
9        6

In [10]:
df = SimpleImputer(df, "mode")
print (df)

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0        0        0       20        0       41        0        0        0
1       14       24       16        2        2        2        2        2
2       35       54        0       54       54       54       54       54
3        0        3        3        3        3        3        3        3
4        1        0        8        0        0       57        0        0
5       12        0        0       14       14       14       14       14
6       74        2        2        3        3        3        3        3
7       65       54       54        0        0        0        1        0
8        0        3        3        0        0        0        0       90
9        1        0        0        6        6        6        6        6

   Value_9
0        0
1        2
2       54
3        3
4        0
5       14
6        3
7      121
8        0
9        6

In [11]:
df = SimpleImputer(df, "kuch_bhi")
print (df)

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6  Value_7  Value_8  \
0        0        0       20        0       41        0        0        0
1       14       24       16        2        2        2        2        2
2       35       54        0       54       54       54       54       54
3        0        3        3        3        3        3        3        3
4        1        0        8        0        0       57        0        0
5       12        0        0       14       14       14       14       14
6       74        2        2        3        3        3        3        3
7       65       54       54        0        0        0        1        0
8        0        3        3        0        0        0        0       90
9        1        0        0        6        6        6        6        6

   Value_9
0        0
1        2
2       54
3        3
4        0
5       14
6        3
7      121
8        0
9        6